body{
    background-color: red;
    background-image: url("./images/fondo.png");
}

h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

div{
    height: 400px;
    background-image: url("./images/banner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}